@import 'variables';

.navbar {
  background-color: $bg-main;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 $spacing-large;
  height: 96px;
  border-bottom: 2px solid $border-color;
  z-index: 20;

  .navbar-brand {
    font-size: 2.5rem;
    font-weight: 700;
    color: $primary-color;
    letter-spacing: -0.01em;
  }

  .navbar-controls {
    display: flex;
    align-items: center;
    gap: 1.5rem;

    .btn-volume {
      background-color: $ligth;
      width: 64px;
      height: 64px;
      display: flex;
      align-items: center;
      justify-content: center;

      svg {
        color: $text-dark;
        stroke-width: 2px;
      }
    }

    .user-profile {
      display: flex;
      align-items: center;
      gap: 1rem;
      background-color: $ColorSideBar;
      padding: 0.5rem 1.5rem 0.5rem 0.5rem;

      .user-avatar {
        background-color: $ligth;
        width: 48px;
        height: 48px;
        border-radius: 50%;
        border: 2px solid $border-color;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .user-info {
        display: flex;
        flex-direction: column;

        .user-name {
          font-size: 1.3rem;
          font-weight: 700;
          color: $text-dark;
        }
        .user-shift {
          font-size: 1.1rem;
          color: $text-gray;
        }
      }
    }
  }
}