@import 'variables';

.navbar {
  background-color: $bg-cream;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 $spacing-large;
  height: 96px;
  border-bottom: 2px solid $text-charcoal;
  z-index: 20;

  .navbar-brand {
    font-size: 2.8rem;
    font-weight: 800;
    color: $terracotta-dark;
    letter-spacing: -0.01em;
  }

  .navbar-controls {
    display: flex;
    align-items: center;
    gap: 1.5rem;

    .btn-volume {
      background-color: white;
      width: 64px;
      height: 64px;
      border-radius: $border-radius-inner;
      display: flex;
      align-items: center;
      justify-content: center;

      svg {
        color: $text-charcoal;
        stroke-width: 2.5px;
      }

      &:hover {
        background-color: $gray;
      }
    }

    .user-profile {
      display: flex;
      align-items: center;
      gap: 1rem;
      background-color: $bg-tan;
      padding: 0.5rem 1.5rem 0.5rem 0.5rem;
      border-radius: $border-radius-inner;

      .user-avatar {
        background-color: white;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 2px solid $text-charcoal;
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
          stroke-width: 2px;
          color: $text-charcoal;
        }
      }

      .user-info {
        display: flex;
        flex-direction: column;

        .user-name {
          font-size: 1.4rem;
          font-weight: 700;
          line-height: 1.2;
          color: $text-charcoal;
        }
        .user-shift {
          font-size: 1.2rem;
          color: #55433d;
          font-weight: 500;
        }
      }
    }
  }
}