@import 'variables';

.sidebar {
  background-color: $ColorSideBar;
  width: 320px;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 2rem 1.5rem;
  border-right: 2px solid $BordeSideBar;
  z-index: 10;

  .sidebar-menu {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex-grow: 1;

    .menu-item {
      a {
        display: flex;
        align-items: center;
        gap: 1rem;
        padding: 1.2rem 1.5rem;
        font-size: 1.5rem;
        font-weight: 700;
        color: $text-dark;
        background-color: $ligth;
        text-decoration: none;

        svg { stroke-width: 2.5px; }

        &.active {
          background-color: $primary-color;
          color: $ligth;
          svg { color: $ligth; }
        }
      }
    }
  }

  .sidebar-footer {
    margin-top: auto;
    padding-bottom: 2rem;

    .btn-cerrar-sesion {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 1rem;
      background-color: $ligth;
      color: $primary-color;
      padding: 1.2rem 1.5rem;
      font-size: 1.5rem;
      font-weight: 700;

      svg { stroke-width: 2.5px; }
    }
  }
}