@import 'variables';

@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Next:wght@400;500;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Atkinson Hyperlegible Next', sans-serif;
}

body {
  background-color: $bg-main;
  color: $text-dark;
  overflow: hidden;
}

.flex {
  display: flex;
  height: calc(100vh - 96px);
}

.content {
  flex: 1;
  overflow-y: auto;
  background-color: transparent;
}


.tactile-btn {
  border: 2px solid $border-color;
  border-bottom-width: 5px;
  border-radius: $border-radius-inner;
  transition: transform 0.1s ease, border-bottom-width 0.1s ease;
  cursor: pointer;

  &:active {
    transform: translateY(3px);
    border-bottom-width: 2px;
  }
  &:focus {
    outline: none;
  }
}
@import 'navbar';
@import 'sidebar';
@import 'categorias';
@import "carrito";
@import "checkoutEfectivo";
@import "checkoutTarjeta";
@import "metodoPago";
@import "catalogo";
@import "errores";
@import "productoCard";
