*{
  margin: 0;
  padding: 0;
}
$ligth: #ffffff;
$gray: #e7e9eb;

.flex{
  display: flex;
}

.navbar{
  background-color: $ligth ;
  padding: 1rem 2rem ;
  border-bottom: 1px solid $gray ;
}
.sidebar{
  width: 14rem;
  height: calc(100vh - 52px);
  border-right: 1px solid $gray;
  margin-left: 10px;
  ul{
    list-style: none;
    padding: 1rem 2rem;
    li{
      margin-bottom: 1rem;
      a{
        text-decoration: none;
        &.active{
          background-clip: $gray;
        }
      }
    }

  }
  .categoria-card {
    border-radius: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1) !important;

      .icono-circulo {
        transform: scale(1.1);
      }
    }

    .icono-circulo {
      width: 80px;
      height: 80px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 1rem;
      transition: transform 0.3s ease;

      background-color: var(--color-fondo);
      color: var(--color-icono);
    }
  }
}